body {
	background-color: black;
}

#page_title {
	color: green;
	font-family: Impact;
	text-align: center;
	font-size: 60px;
	font-style: italic;
}

#page_header {
	background-color: #ECF0CC;
	}

#game {
	position: relative;
	background: url("resources/board.jpg") no-repeat;
	height: 2000px;
}